<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='welcome.title')"></head>
<body>
<div class="container-fluid d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h3 th:text="#{login.login}"></h3>
        <form name='form' action="login" method='POST'>
            <table>
                <tr>
                    <td th:text="#{login.user}">:</td>
                    <td><input type='text' name='username' class="form-control"></td>
                </tr>
                <tr>
                    <td th:text="#{login.pass}">:</td>
                    <td><input type='password' name='password' class="form-control"/></td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-lg btn-primary btn-block" th:text="#{login.login}" type="submit"></button>
                    </td>
                </tr>
            </table>
            <a th:href="@{/}" th:text="#{index.back}"></a>
        </form>
    </main>
</div>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>